body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f4f8f900;
  color: #333333;
}
/* Contact */
#contact a {
  color: #ff2200;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 15px 0;
  margin-top: 20px;

}
